@import "reset.css";
@import "hover.css";
@import "scroll.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #050505;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.bold {
    font-weight: 700;
}

.green {
    color: #02f74c;
}

.under {
    border-bottom: 2px solid #02f74c;
    padding-bottom: 3px;
}

/* Header */

.header {
    margin-top: 60px;
    margin-bottom: 120px;
}

/* Header NAV */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

/* Header LOGO */

.logo {
    font-size: 30px;
    font-weight: 800;

    color: #fff;
}

/* Header NAV-LINKS */

.nav__links {
    display: flex;
    column-gap: 45px;
}

.nav__links-text {
    font-size: 16px;
    font-weight: 500;
}

.nav__links-link {
    color: #cacaca;
    transition: 0.1s ease;
}

/* Header NAV-BUTTON */

.nav__button {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #02f74c;

    font-size: 16px;
    font-weight: 600;

    color: #151515;
    background-color: #02f74c;

    transition: 0.2s ease;
}

/* Header MAIN */

.header__main-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 90px;
}

.header__main-wrapper-first {
    max-width: 560px;
    margin-top: 30px;
}

.header__main-wrapper-second {
    max-width: 560px;
}

/* Header MAIN-TEXT */

.header__main-text {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 45px;
}

/* Header MAIN-BUTTON */

.header__main-btn-wrapper {
    display: flex;
    column-gap: 15px;
    margin-top: 30px;
}

.header__main-btn-first {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #02f74c;

    font-size: 14px;
    font-weight: 600;

    color: #151515;
    background-color: #02f74c;

    transition: 0.2s ease;
}

.header__main-btn-second {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #303030;

    font-size: 14px;
    font-weight: 600;

    color: #02f74c;
    background-color: #151515;

    transition: 0.2s ease;
}

/* Header MAIN-FIRE */

.header__main-shape {
    width: 300px;
    height: 300px;
    border-radius: 30px;

    background-color: #151515;
}

.header__main-fire {
    text-align: center;
    line-height: 300px;
    font-size: 200px;
}

/* Main */

.main {
    margin-left: 40px;
    margin-right: 40px;
}

.main__text {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__button {
    margin-top: 40px;

    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #303030;

    font-size: 14px;
    font-weight: 600;

    color: #02f74c;
    background-color: #151515;

    transition: 0.2s ease;
}

/* Main ABOUT */

.main__about {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    text-align: center;

    border-radius: 30px;
    
    background-color: #101010;
}

.main__text-about {
    margin-top: 40px;

    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
    font-weight: 100;
}

/* Main FEATURES */

.main__features {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    text-align: center;

    border-radius: 30px;
    
    background-color: #101010;
}

/* Main FEATURES-BLOCK */

.main__features-block-wrap {
    margin-top: 40px;
}

.main__features-block-wrap-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    margin-left: 200px;
    margin-right: 200px;
}

.main__features-block-wrap-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
}

.main__features-block {
    display: inline-block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    border: 1px solid #303030;

    cursor: pointer;

    font-size: 14px;
    font-weight: 500;

    color: #02f74c;
    background-color: #090909;

    transition: 0.1s ease;
}

/* Main PORTFOLIO */

.main__portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    text-align: center;

    border-radius: 30px;
    
    background-color: #101010;
}

/* Main PORTFOLIO-IMG */

.main__portfolio-wrap-first {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    column-gap: 30px;

    cursor: pointer;
}

.main__portfolio-wrap-second {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    column-gap: 30px;

    cursor: pointer;
}

.main__portfolio-img {
    width: 30%;
    border: 1px solid #303030;
    border-radius: 20px;

    transition: 0.2s ease;
}

/* Main PORTFOLIO-BTN */

.main__button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

/* Footer */

.footer {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
    background-color: #101010;
}

/* Footer SOCIALS */

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.footer__socials-img {
    width: 35px;
}

/* Footer COPYRIGHT */

.footer__copyright {
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}



/* ADAPTIVE */

@media screen and (max-width: 1010px) {
    /* Main FEATURES-BLOCKS */
    .main__features-block {
        width: 200px;
        height: 80px;

        font-size: 12px;
        line-height: 80px;
    }
}

@media screen and (max-width: 947px) {
    /* Main FEATURES-BLOCKS */
    .main__features-block {
        width: 150px;
        height: 60px;

        font-size: 8px;
        line-height: 60px;
    }
}

@media screen and (max-width: 900px) {
    /* Main FEATURES-BLOCKS */
    .main__features-block-wrap-first {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 200px;
        margin-right: 200px;
    }
    
    .main__features-block-wrap-second {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 10px;
    }

    .main__features-block {
        width: 400px;
        height: 100px;

        font-size: 14px;
        line-height: 100px;
    }
}

@media screen and (max-width: 850px) {
    /* Main PORTFOLIO */
    .main__portfolio-wrap-first {
        display: grid;
        align-items: center;
        justify-content: center;
    
        margin-top: 40px;
        row-gap: 20px;
    
        cursor: pointer;
    }
    
    .main__portfolio-wrap-second {
        display: grid;
        align-items: center;
        justify-content: center;
    
        margin-top: 20px;
        row-gap: 20px;
    
        cursor: pointer;
    }
    
    .main__portfolio-img {
        width: 440px;
        border: 1px solid #303030;
        border-radius: 20px;
    
        transition: 0.2s ease;
    }
}

@media screen and (max-width: 810px) {
    /* Header MAIN-TEXT */
    .header__main-text {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.1px;
        line-height: 45px;
    }
}

@media screen and (max-width: 756px) {
    /* Main TEXT-ABOUT */
    .main__text-about {
        font-size: 13px;
    }

    /* Header MAIN-WRAPPER-FIRST */
    .header__main-wrapper-first {
        max-width: 560px;
        margin-top: 15px;
    }

    /* Header MAIN-WRAPPER */
    .header__main-wrapper {
        margin-top: 65px;
    }
}

@media screen and (max-width: 730px) {
    /* Nav LINKS */
    .nav__links {
        display: flex;
        column-gap: 30px;
    }
    
    .nav__links-text {
        font-size: 13px;
        font-weight: 500;
    }

    /* Header MAIN-SHAPE */
    .header__main-shape {
        width: 250px;
        height: 250px;
        border-radius: 25px;
    
        background-color: #151515;
    }
    
    .header__main-fire {
        text-align: center;
        line-height: 250px;
        font-size: 160px;
    }
}

@media screen and (max-width: 680px) {
    /* Header MAIN-TEXT */
    .header__main-text {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.1px;
        line-height: 35px;
    }

    /* Header MAIN-BTN */
    .header__main-btn-wrapper {
        display: flex;
        column-gap: 10px;
        margin-top: 20px;
    }

    .header__main-btn-first {
        font-size: 12px;
    }
    
    .header__main-btn-second {
        font-size: 12px;
    }

    /* Header MAIN-SHAPE */
    .header__main-shape {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    
        background-color: #151515;
    }
    
    .header__main-fire {
        text-align: center;
        line-height: 200px;
        font-size: 120px;
    }

    /* Main TEXT-ABOUT */
    .main__text-about {
        font-size: 11px;
    }
}

@media screen and (max-width: 640px) {
    /* Nav LINKS */
    .nav__links {
        display: flex;
        column-gap: 20px;
    }
    
    .nav__links-text {
        font-size: 10px;
        font-weight: 500;
    }
}

@media screen and (max-width: 565px) {
    /* Header */
    .header {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    /* Header NAV */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Header LOGO */
    .logo {
        font-size: 20px;
        font-weight: 800;

        color: #fff;
    }

    /* Header NAV-LINKS */
    .nav__links {
        display: flex;
        column-gap: 20px;
    }

    .nav__links-text {
        font-size: 10px;
        font-weight: 500;
    }

    /* Header NAV-BUTTON */
    .nav__button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 8px;
        border: 1px solid #02f74c;

        font-size: 13px;
        font-weight: 600;

        color: #151515;
        background-color: #02f74c;

        transition: 0.2s ease;
    }

    /* Header MAIN-WRAPPER */
    .header__main-wrapper {
        margin-top: 60px;
    }

    /* Header MAIN-TEXT */
    .header__main-text {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.1px;
        line-height: 20px;
    }

    /* Header MAIN-BTN */
    .header__main-btn-first {
        padding: 14px 20px;
        font-size: 10px;
    }
    
    .header__main-btn-second {
        padding: 14px 20px;
        font-size: 10px;
    }

    /* Main TEXT-ABOUT */
    .main__text-about {
        margin-top: 40px;
    
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 15px;
        font-weight: 100;
    }
}

/* ADAPTIVE MOBILE */

@media screen and (max-width: 425px) {
    /* Header */
    .header {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    /* Header NAV */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Header LOGO */
    .logo {
        font-size: 15px;
        font-weight: 800;

        color: #fff;
    }

    /* Header NAV-LINKS */
    .nav__links {
        display: flex;
        column-gap: 20px;
    }

    .nav__links-text {
        font-size: 8px;
        font-weight: 500;
    }

    /* Header NAV-BUTTON */
    .nav__button {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 8px;
        border: 1px solid #02f74c;

        font-size: 10px;
        font-weight: 600;

        color: #151515;
        background-color: #02f74c;

        transition: 0.2s ease;
    }

    /* Header MAIN-WRAPPER */
    .header__main-wrapper {
        margin-top: 40px;
    }

    .header__main-wrapper-second {
        display: none;
        max-width: 560px;
    }

    /* Header MAIN-TEXT */
    .header__main-text {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.2px;
        line-height: 35px;
        text-align: center;
    }

    /* Header MAIN-BTN */
    .header__main-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin-top: 30px;
    }

    .header__main-btn-first {
        padding: 15px 30px;
        font-size: 15px;
    }
    
    .header__main-btn-second {
        padding: 15px 30px;
        font-size: 15px;
    }

    /* Main TEXT-ABOUT */
    .main__text-about {
        margin-top: 40px;
    
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 15px;
        font-weight: 100;
    }

    /* Main FEATURES-BLOCKS */
    .main__features-block-wrap-first {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 175px;
        margin-right: 200px;
    }
    
    .main__features-block-wrap-second {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 175px;
        margin-right: 200px;
        margin-top: 10px;
    }

    .main__features-block {
        width: 200px;
        height: 80px;

        font-size: 13px;
        line-height: 80px;
    }

    /* Main TEXT */
    .main__text {
        font-size: 30px;
    }

    /* Main PORTFOLIO-IMG */
    .main__portfolio-img {
        width: 440px;
        border: 1px solid #303030;
        border-radius: 20px;
    
        transition: 0.2s ease;
    }

    /* Main BUTTON */
    .main__button {
        padding: 10px 22px;
        font-size: 12px;
    }
}

/* //////////////////////////////// */

@media screen and (max-width: 375px) {
    /* Header */
    .header {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    /* Header NAV */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Header LOGO */
    .logo {
        font-size: 12px;
        font-weight: 800;

        color: #fff;
    }

    /* Header NAV-LINKS */
    .nav__links {
        display: flex;
        column-gap: 15px;
    }

    .nav__links-text {
        font-size: 7px;
        font-weight: 500;
    }

    /* Header NAV-BUTTON */
    .nav__button {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 8px;
        border: 1px solid #02f74c;

        font-size: 10px;
        font-weight: 600;

        color: #151515;
        background-color: #02f74c;

        transition: 0.2s ease;
    }

    /* Header MAIN-WRAPPER */
    .header__main-wrapper {
        margin-top: 40px;
    }

    .header__main-wrapper-second {
        display: none;
        max-width: 560px;
    }

    /* Header MAIN-TEXT */
    .header__main-text {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.2px;
        line-height: 35px;
        text-align: center;
    }

    /* Header MAIN-BTN */
    .header__main-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin-top: 30px;
    }

    .header__main-btn-first {
        padding: 15px 30px;
        font-size: 15px;
    }
    
    .header__main-btn-second {
        padding: 15px 30px;
        font-size: 15px;
    }

    /* Main TEXT-ABOUT */
    .main__text-about {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 15px;
        font-weight: 100;
    }

    /* Main FEATURES-BLOCKS */
    .main__features-block-wrap-first {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 150px;
        margin-right: 200px;
    }
    
    .main__features-block-wrap-second {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 150px;
        margin-right: 200px;
        margin-top: 10px;
    }

    .main__features-block {
        width: 200px;
        height: 80px;

        font-size: 13px;
        line-height: 80px;
    }

    /* Main TEXT */
    .main__text {
        font-size: 25px;
    }

    /* Main PORTFOLIO-IMG */
    .main__portfolio-wrap-first {
        display: grid;
        align-items: center;
        justify-content: space-between;
    
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 40px;
        column-gap: 30px;
    
        cursor: pointer;
    }
    
    .main__portfolio-wrap-second {
        display: grid;
        align-items: center;
        justify-content: space-between;
    
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        column-gap: 30px;
    
        cursor: pointer;
    }

    .main__portfolio-img {
        width: 440px;
        border: 1px solid #303030;
        border-radius: 20px;
    
        transition: 0.2s ease;
    }

    /* Main BUTTON */
    .main__button {
        padding: 10px 22px;
        font-size: 12px;
    }
}

/* //////////////////////////////// */

@media screen and (max-width: 325px) {
    /* Header */
    .header {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    /* Header NAV */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Header LOGO */
    .logo {
        font-size: 11px;
        font-weight: 800;

        color: #fff;
    }

    /* Header NAV-LINKS */
    .nav__links {
        display: flex;
        column-gap: 12px;
    }

    .nav__links-text {
        font-size: 5px;
        font-weight: 500;
    }

    /* Header NAV-BUTTON */
    .nav__button {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 8px;
        border: 1px solid #02f74c;

        font-size: 8px;
        font-weight: 600;

        color: #151515;
        background-color: #02f74c;

        transition: 0.2s ease;
    }

    /* Header MAIN-WRAPPER */
    .header__main-wrapper {
        margin-top: 40px;
    }

    .header__main-wrapper-second {
        display: none;
        max-width: 560px;
    }

    /* Header MAIN-TEXT */
    .header__main-text {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1.2px;
        line-height: 35px;
        text-align: center;
    }

    /* Header MAIN-BTN */
    .header__main-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin-top: 30px;
    }

    .header__main-btn-first {
        padding: 12px 22px;
        font-size: 10px;
    }
    
    .header__main-btn-second {
        padding: 12px 22px;
        font-size: 10px;
    }

    /* Main TEXT-ABOUT */
    .main__text-about {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 15px;
        font-weight: 100;
    }

    /* Main FEATURES-BLOCKS */
    .main__features-block-wrap-first {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 120px;
        margin-right: 200px;
    }
    
    .main__features-block-wrap-second {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    
        margin-left: 120px;
        margin-right: 200px;
        margin-top: 10px;
    }

    .main__features-block {
        width: 200px;
        height: 80px;

        font-size: 13px;
        line-height: 80px;
    }

    /* Main TEXT */
    .main__text {
        font-size: 20px;
    }

    /* Main PORTFOLIO-IMG */
    .main__portfolio-wrap-first {
        display: grid;
        align-items: center;
        justify-content: space-between;
    
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 40px;
        column-gap: 30px;
    
        cursor: pointer;
    }
    
    .main__portfolio-wrap-second {
        display: grid;
        align-items: center;
        justify-content: space-between;
    
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        column-gap: 30px;
    
        cursor: pointer;
    }

    .main__portfolio-img {
        width: 440px;
        border: 1px solid #303030;
        border-radius: 20px;
    
        transition: 0.2s ease;
    }

    /* Main BUTTON */
    .main__button {
        padding: 10px 22px;
        font-size: 12px;
    }

    .main__button-wrap {
        column-gap: 10px;
    }
}